@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Amatic SC';
    color: rgb(255, 255, 255);
}

body {
    background-image: url(../img/among-us.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-color: black;
}

a.button-map {
    display: block;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    width: 6em;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}

a.button-guide {
    display: block;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 6em;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}

a.button-schem {
    display: block;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 6em;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}

p.credits {
    display: block;
    position:absolute;
    bottom: 0em;
    left: 0em;
    font-size: 2em;
}